{% extends "blog/base.html" %}
 
{% block title %}Add New To_do list Records{% endblock title %}
{% block contentnav %}
{% include 'blog/navbar.html' %} 
{%endblock%}
{% block content %}

{% if user.is_authenticated %}
<div class="col-md-12">
   
 <form method="POST" class="post-form" action="/update/{{bloglist.id}}">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  </div>  
</div>  
 <br>  
 <div class="form-group row" style ="display:none">  
  <label class="col-sm-2 col-form-label col-form-label-sm">Id:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ bloglist.id }}"/>  
  </div>  
</div>  
 <br>  
 <div class="form-group row">  
  <label class="col-sm-2 col-form-label col-form-label-sm">Title:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control form-control-sm" name="title"  required maxlength="100" value="{{ bloglist.title }}" />  
  </div>  
</div>  
 <br>  
 <div class="form-group row">  
  <label class="col-sm-2 col-form-label col-form-label-sm">Content:</label>  
  <div class="col-sm-4"> 
    <textarea class="form-control form-control-sm" cols="100"  rows="10" name="content" >{{ bloglist.content }}</textarea>
  </div>  
   </div>  
 <br>  
 <div class="form-group row">  
  <label class="col-sm-2 col-form-label col-form-label-sm">Image:</label>  
  <div class="col-sm-4"> 
    <input class="form-control form-control-sm" type="file" id="image" name="filename">
  </div>  
   </div>  
   <br>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-primary">Update</button> 
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button> 
  <input type="hidden" class="form-control" name="createuser" id="id_title" required maxlength="100" value="{{ bloglist.createuser }}" />  
  </div>  
   </div>  
  </div>  
 </form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Blog Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" data-bs-dismiss="modal">No</a>
        <a class="btn btn-danger" href="/delete/{{ bloglist.id }}">Yes</a>
      </div>
    </div>
  </div>
</div>
 {% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'register' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}  
{% endblock content %}  