
{% extends "blog/base.html" %}
{%load static %}
{%block css_files%}
<link rel="stylesheet" href="{% static 'css/blog_home.css' %}">
{%endblock%}
{% block title %}Add New To_do list Records{% endblock title %}
 

{% block contentnav %}
{% include 'blog/navbar.html' %} 
{%endblock%}
{% block content %}

<div class="container mt-2 mb-2 pt-5 pb-5 px-4" id="article-grid">
	<div class="row">
        {% for bloglist in bloglists %} 
		<div class="col-sm-4"> 
		<div class="card article-card">
		{% comment %} <div class="card article-card p-3" style="width: 18rem;"> {% endcomment %}
		<img class="card-img-top" src="{{ bloglist.image.url }}" alt="Card image cap">
		<div class="card-body">
		  <h5 class="card-title">{{ bloglist.title }}</h5>
		  <p class="card-text">{{ bloglist.content }}</p>
		</div>
		<div class="card-body">
			{% if request.user.is_authenticated %} 
			<a href="/edit/{{ bloglist.id }}"><i class="bi bi-pen"></i>Edit</a>
			{% endif %}
		</div>
	</div>
	  {% comment %} </div> {% endcomment %}
	</div>
       {% endfor %} 
	</div> <!-- Article Grid Row Ends -->
</div> <!-- Article Grid Container Ends -->

{% endblock content %}
